[user]
	name = Judd Maltin
	email = judd@newgoliath.com
[credential]
	helper = cache
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = judd@newgoliath.com
	smtpServerPort = 587
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
[merge]
  summary=true
	tool = vimdiff
